.bg-deskimg {
    background-image: url();
}

.nav-logo {
    vertical-align: middle;
    height: 80px;
    width: auto;
    padding-right: 10px;
}

.nav-link {
    transition: all .2s ease-in-out;
}

.nav-link:hover {
    transform: scale(1.2);
}

.dropdown-logo {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}

/* .navbar{
    padding-left: 0  !important;
    width: 100%;
} */

.navbar-brand {
    padding-left: 30px;
    font-weight: bold;
    vertical-align: middle;
    font-size: 40px;
}

.nav-item {
    vertical-align: middle;
    padding-right: 25px;
}

.nav-link {
    color: black !important;
}

.dropdown-item {
    font-size: 20px;
    border-radius: 20px;
    transform-origin: 50% 50%;
    transition: all .2s ease-in-out;
}

.dropdown-item:hover {
    background-image: -webkit-linear-gradient(40deg, white, lightskyblue, lightpink, lightcoral, lightsalmon, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
}

.dropdown-menu {
    border-radius: 10px;
}

.navbar {
    background-image: linear-gradient(40deg, white, lightskyblue, lightpink, lightcoral, lightsalmon, white);
}

.carousel-inner>.carousel-item>img {
    margin: auto;
}

.carousel-caption>p {
    background: -webkit-linear-gradient(40deg, white, lightskyblue, lightpink, lightcoral, lightsalmon, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.carousel-caption>h5 {
    background: -webkit-linear-gradient(40deg, white, lightskyblue, lightpink, lightcoral, lightsalmon, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#carousel-btn {
    transition: all .2s ease-in-out;
}

#carousel-btn:hover {
    transform: scale(1.2);
}

#news-container,#svg_container,#intro-container {
    margin-top: 3em;
}

#news_title > h3,#svg_title > h3,#intro_title_1 > h3,#gallery_title > h3,#intro_title_2 > h3,#flip_title > h3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #100c92;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bolder;
    text-decoration: underline;
    transition: .5s;
}

#news_title > h3:hover{
    transform: scale(1.02);
    letter-spacing: 0.25em;
    background: var(--clr1);
    box-shadow: 0 0 35px var(--clr1);
}

#svg_title > h3:hover{
    transform: scale(1.02);
    letter-spacing: 0.25em;
    background: var(--clr2);
    box-shadow: 0 0 35px var(--clr2);
}

#intro_title_1 > h3:hover{
    transform: scale(1.02);
    letter-spacing: 0.25em;
    background: var(--clr3);
    box-shadow: 0 0 35px var(--clr3);
}

#intro_title_2 > h3:hover{
    transform: scale(1.02);
    letter-spacing: 0.25em;
    background: var(--clr4);
    box-shadow: 0 0 35px var(--clr4);
}

#flip_title > h3:hover{
    transform: scale(1.02);
    letter-spacing: 0.25em;
    background: var(--clr6);
    box-shadow: 0 0 35px var(--clr6);
}

#news_content{
    margin-left: 10px;
}

#news_content > p,#intro_content > p{
    font-size: larger;
}

#news_content > ul > li,#intro_content > ul > li{
    margin-bottom: 20px;
}

#news_content > ul > li > a,#intro_content > ul > li > a{
    font-size: large;
}

#gallery_title > h3:hover{
    transform: scale(1.02);
    letter-spacing: 0.25em;
    background: var(--clr5);
    box-shadow: 0 0 35px var(--clr5);
}

.gallery{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#sample_title{
    margin-bottom: 50px;
}

.img-box{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: .5s;
}

.img-box > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.img-box:hover{
    flex-basis: 40%;
}

.active{
    flex-basis: 40%;
}

.gallery:hover .active{
    flex-basis: 0;
}

.img-box:nth-child(1):hover{
    flex-basis: 40%;
}

#flip-row{
    margin: auto;
}

.flip-card{
    width: 300px;
    height: 450px;
}

.flip-card-inner{
    position: relative;
    height: 100%;
    transition: .5s;
    transform-style: preserve-3d;
}

.flip-card-back{
    background-color: #d1540b;
    color: #fff;
    transform: rotateY(180deg);
    z-index: 1;
}

.flip-card-back .flip-back-header{
    height: 45%;
    text-align: center;
}


.flip-card-back,.flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}




.map {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 20%;
}

.banner{
    min-height: 80%;
    color: #555;
}

.banner img{
    width: 100%;
}

.strict-img{
    margin: 10% auto;
}

.info{
    margin: 20% auto;
}

#pahang,
#johor,
#negerisembilan,
#melaka,
#terengganu,
#kelantan,
#kualalumpur,
#perak,
#penang,
#kedah,
#perlis,
#sabah,
#sarawak {
    fill:#333;
    stroke: #18254b;
    stroke-width: 3;
    
}

.penang{
    stroke: #18254b;
    stroke-width: 3;
}

#pahang:hover,
#johor:hover,
#negerisembilan:hover,
#melaka:hover,
#terengganu:hover,
#kelantan:hover,
#kualalumpur:hover,
#perak:hover,
#penang:hover,
#kedah:hover,
#perlis:hover,
#sabah:hover,
#sarawak:hover {
    cursor: pointer;
    fill: #1e9bff ;
    transition: all 1s linear;
}

svg {
    cursor: pointer;
    width: 90vmin;
    height: 90vmin;
}






#footer-container {
    background-image: linear-gradient(40deg, white, lightskyblue, lightpink, lightcoral, lightsalmon, white);
}

#footer-heading {
    margin: 2rem;
    font-size: 30px;
    font-weight: bolder;
}

#footer-content {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

#footer-content>li>a {
    text-decoration: none;
    color: gray;
    transition: all .2s ease-in-out;
}

#footer-content>li>a:hover {
    color: black;
    font-size: 26px;
}






#GG {
    height: 0px;
}